

<ion-footer id="footer" >
    <ion-toolbar>
        <div class="cookie-wrapper">
            <p>Diese Internetseite verwendet Cookies und Google Analytics für die Analyse und Statistik. Wir nutzen Cookies zu
                unterschiedlichen Zwecken, unter anderem zur Analyse und für personalisierte Marketing-Mitteilungen. Durch die
                weitere Nutzung der Website stimmen Sie der Verwendung zu. (+Extra Button zur Datenschutzsseite)</p>
                <button class="btn" (click)="acceptCookies()">Bestätigen</button>
        </div>
    </ion-toolbar>
  </ion-footer>