<ion-header>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="text-row" id="first_row">
            <ion-col size-lg="12">
                <h1>FULL-SERVICE-AGENTUR MIT MEHRWERT </h1>
                <p>Als Agentur für digitale Medien und Kommunikation bieten wir unseren Kunden und Partnern Full-Service
                    Lösungen mit Mehrwert.</p>
                <p>
                    Wir konzipieren für Sie nachhaltige Gesamtlösungen in sämtlichen Bereichen der Digitalisierung,
                    Kommunikation und Marketing.
                </p>

            </ion-col>
        </ion-row>

        <ion-row class="second-row">
            <ion-col size-lg="6" style="padding: 0 5vw;">
                <div>
                    <h2>Besser? Vielleicht.</h2>
                    <h2>Stärker? Jede Wette.</h2>
                    <h4>WAS UNS STARK MACHT.</h4>
                    <p>Zu behaupten, wir seien anders oder besser als andere B2B-Agenturen, ist uns zu banal. Denn mal
                        ehrlich: Das Kommunikationshandwerk ist heute vergleichbarer denn je (höchstwahrscheinlich
                        googeln
                        Sie auch gerade nach der passenden Agentur).</p>
                    <p>Was unterscheidbar macht, ist die Haltung. Das gilt für Sie, für uns, für jeden, der etwas
                        erreichen
                        will.
                    </p>
                    <h4>WOFÜR STEHEN SIE?</h4>
                    <p>
                        Seit über 25 Jahren stehen wir für Stärke. Nicht die künstlich aufgepumpte, mit der man es sich
                        in
                        Kommunikation und Werbung oft zu einfach macht. Sondern die, mit der man Herausforderungen
                        meistert,
                        sich durch schwierige Zeiten beißt und mit Erfolgen wächst.
                    </p>
                    <p>
                        Stärke meint, das was gut ist noch besser zu machen. Sich nicht mit der erstbesten kreativen
                        Idee
                        zufrieden zu geben, sondern zu hinterfragen, ob sie wirklich zielführend ist. Kommunikation als
                        Teil
                        einer Strategie zu verstehen, mit der ein Unternehmen wachsen kann. Die Mauern zwischen
                        Marketing
                        und Vertrieb einzureißen und Markenführung als gesamtunternehmerische Verantwortung zu
                        begreifen. In
                        Zeiten von Digitalisierung und Kundenzentrierung auch mal was zu wagen, statt noch ein bisschen
                        zu
                        warten. Und auch mal den Blick von außen zuzulassen, um zu erkennen, was man gut macht. Und
                        besser
                        machen muss.
                    </p>
                    <p>
                        Für Strategie, Marketing und Kommunikation bringen wir unsere Stärken ins Spiel. In allen
                        Disziplinen, die eine Marke heute braucht.
                    </p>
                    <h3>DAMIT SIE STÄRKER WERDEN! </h3>
                </div>
            </ion-col>
            <ion-col size-lg="6" style=" display: flex; justify-content: center;">
                <div>
                    <div class="img1"></div>
                    <div class="img2"></div>
                    <div class="img3"></div>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>