<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
    rel="stylesheet">
</head>
<ion-header class="ion-no-border" >
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col lg-size="12">
        <div class="img"></div>       
      </ion-col>
    </ion-row>

    <ion-row class="text-row">
      <ion-col lg-size="12">
        <h1 class="job-name">Junior PHP Backend Entwickler</h1>
        <h1 class="job-desc-heading">Der Job im Überblick</h1>
        <div style="display: flex;">
          <div class="job-desc-left">
            <h3 class="heading">Beschäftigungsbeginn</h3>
            <p class="text-under-heading">ab sofort</p>

            <h3 class="heading">Art der Beschäftigung</h3>
            <p class="text-under-heading"> Vollzeit (40h/Woche)</p>
          </div>

          <div class="job-desc-right">
            <h3 class="heading">Konzeption</h3>
            <p class="text-under-heading">
              Aufgabenbereich
              und Umsetzung von Webanwendungen unter Anwendung von stabilen und zeitgemäßen Technologien mit
              Schwerpunkt auf PHP
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="text-row">
      <ion-col lg-size="12">
        <h1 class="header-line">Deine Aufgaben</h1>
        <ul>
          <li>Konzeption und Umsetzung von Webanwendungen verschiedener Bereiche mit modernen Technologien (E-Commerce
            mit Spryker, Magento, Shopware oder individuellen Lösungen, Portalentwicklung mit Symfony, Umsetzung von
            Redaktionssystemen und vielen anderen spannenden Projekten)</li>
          <li>Konzeption und Entwicklung von Schnittstellen / API zu verschiedenen Frontend- und Backend-Systemen</li>
        </ul>
      </ion-col>
    </ion-row>

    <ion-row class="text-row">
      <ion-col lg-size="12">
        <h1 class="header-line">Dein Profil </h1>
        <ul>
          <li> Du liebst, was du tust, und lernst, was du brauchst</li>
          <li> Du hast sehr gute Kenntnisse in mindestens einer Technologie für Webanwendungen, mindestens jedoch in PHP
          </li>
          <li> Du willst den Kunden und den Entwicklungsprozess voranbringen</li>
          <li> Du willst saubere, pflegbare und performante Anwendungen entwickeln</li>
          <li> Du übernimmst Projekttätigkeiten eigenverantwortlich und führst diese gewissenhaft durch</li>
          <li> Du fragst deine Kolleg+innen bei Problemen und stehst selbst für Hilfe bereit</li>
          <li> Du arbeitest gerne im Team und kommunizierst effizient mit Kunden und Kolleg+innen</li>
        </ul>
      </ion-col>
    </ion-row>


    <ion-row class="text-row">
      <ion-col lg-size="12">
        <h1 class="header-line">Das betrachten wir als Plus</h1>
        <ul>
          <li> Du hast sehr gute Kenntnisse in der Umsetzung von Webanwendungen, gerne auch in angrenzenden Technologien
            oder Auszeichnungssprachen wie HTML5, CSS3, JavaScript (inkl. dem Umgang mit Frameworks)</li>
          <li> Du hast Kenntnisse im Bereich mobiler Anwendungen (responsive Layouts und Inhalte, Touch-Navigation,
            Hybrid-Anwendungen...)
        </ul>
      </ion-col>
    </ion-row>

    <ion-row class="text-row">
      <ion-col lg-size="12">
        <h1 class="header-line">Wir haben auch einiges zu bieten</h1>
        <ul>
          <li> Deine Entscheidung, deine Verantwortung</li>
          <li> Du hast Bock auf mehr? - Gemeinsam bringen wir u+i auf das nächste Level</li>
          <li> Ein Team zum Pferdestehlen</li>
          <li> Besser, höher, weiter? - Dann her mit deinen Fortbildungswünschen</li>
          <li> Besser geht immer - wir freuen uns über neue Impulse</li>
          <li> Where the Magic happens - Arbeiten mitten in der Innenstadt</li>
          <li> Im Büro oder Zuhause? - Wir sind flexibel</li>
          <li> Den Wohlfühlfaktor: Sport-Navi, gemeinsames Frühstück, Gemeinschaftsaktionen, das Jobrad und freie
            Getränke</li>
          <li> warten auf dich</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="text-row">
      <ion-col lg-size="12">
        <h1 class="header-line">Deine Bewerbung per Mail an uns</h1>
        <ul>
          <li> Erzähl uns was zu dir, deiner Motivation und zeig uns in deinem Lebenslauf, was du schon alles gemacht
            hast. Gib bitte auch deine Gehaltsvorstellung mit an. Hast du Arbeitszeugnisse? Dann freuen wir uns auch
            darüber. </li>
        </ul>
      </ion-col>
    </ion-row>



    <ion-row class="contact-row">
      <ion-col lg-size="12">
        <div class="contact-wrapper">
          <div class="person-header"></div>
          <div class="contact-wrapper-text">
            <h1 class="header-line">Hast du noch Fragen zu diesem Job oder zu uns?</h1>
            <h3 class="header-line-contact">Ansprechpartner kontaktieren</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="contact-row-mail">
      <ion-col lg-size="12">
        <div class="mail-wrapper">
          <h2>Du möchtest als PHP-Entwickler+in bei uns arbeiten? Schick uns deine Bewerbung an
            <b>karriere(at)xyz.com</b> </h2>
            <!--<button class="btn">DEIN MAILPROGRAMM ÖFFNEN</button>-->
        </div>     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>